<div class="col-lg-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <h4> Vamsi Ravi </h4>
        </div>
        <div class="panel-body">
            <img class="profile_img" [src]="profileOnePicture" align="left" hspace="20">
            &nbsp;&nbsp;&nbsp;
            <h4>About</h4>
            <p class="lead">
            	 Build, Automation and Release Engineer with good knowledge of Java, Cloud Platform and Web Services. Passionate and always ready to contribute to the open source community.
            </p>
            <h4> Tech Stack </h4>
            <ul>
				<li> Java 1.8 </li> 
				<li> Springboot </li>
				<li> AWS, GoogleCloud </li>
				<li> Maven, Gradle </li>
				<li> Jenkins, Bamboo </li>
				<li> Git, GitHub </li>
				<li> Angular JS </li>
				<li> Bootstrap </li>
            </ul>
            
            <p> <strong> Email: </strong> <a href="mailto:ivamsiravi@gmail.com">ivamsiravi@gmail.com</a> </p>
            
            <p> <strong> Contact: </strong> +1(857)-205-6865 </p>          
            
        </div>
        <div class="panel-footer">
            <p class="fa fa-facebook-square"> </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-twitter-square">  </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-linkedin-square">  </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-github-square">  </p>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>

<div class="col-lg-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4> Mohsin Murtuza </h4>
        </div>
        <div class="panel-body">
            <img class="profile_img" [src]="profileTwoPicture" align="left" hspace="20">
            &nbsp;&nbsp;&nbsp;
            <h4>About</h4>
            <p class="lead">
            	 Full Stack Development Engineer with good knowledge of Java, Android, Angular JS, Cloud Platform and Web Services. Believes in innovation and being updated with new technologies all time.
            </p>
            <h4> Tech Stack </h4>
            <ul>
				<li> Java 1.8 </li> 
				<li> Spring, Hibernate </li>
				<li> Android </li>
				<li> GoogleCloud and Firebase </li>
				<li> Maven, Gradle </li>				
				<li> Git, GitHub </li>
				<li> Angular JS </li>
				<li> Bootstrap </li>
            </ul>
            
            <p> <strong> Email: </strong> <a href="mailto:mohsin68.murtuza@gmail.com">mohsin68.murtuza@gmail.com</a> </p>
            
            <p> <strong> Contact: </strong> (+91) 9032563079 </p>          
            
        </div>
        <div class="panel-footer">
            <p class="fa fa-facebook-square"> </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-twitter-square">  </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-linkedin-square">  </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-github-square">  </p>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>

<div class="col-lg-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <h4> Ankit Goyal </h4>
        </div>
        <div class="panel-body">
            <img class="profile_img" [src]="profileOnePicture" align="left" hspace="20">
            &nbsp;&nbsp;&nbsp;
            <h4>About</h4>
            <p class="lead">
            	 Frontend Developer with 4 years of experience in building production ready web applications. Used vanilla Javascript, ReactJS and AngularJS frameworks for building projects starting from scratch.
            </p>
            <h4> Tech Stack </h4>
            <ul>
				<li> Angular JS </li>
				<li> JavaScript </li>
				<li> React JS </li>
            </ul>
            
            <!-- <p> <strong> Email: </strong> <a href="mailto:mohsin68.murtuza@gmail.com">mohsin68.murtuza@gmail.com</a> </p>  -->
            
            <p> <strong> Contact: </strong> (+91) 9945497243 </p>          
            
        </div>
        <div class="panel-footer">
            <p class="fa fa-facebook-square"> </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-twitter-square">  </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-linkedin-square">  </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-github-square">  </p>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>

<div class="col-lg-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4> Abdul Sammad </h4>
        </div>
        <div class="panel-body">
            <img class="profile_img" [src]="profileOnePicture" align="left" hspace="20">
            &nbsp;&nbsp;&nbsp;
            <h4>About</h4>
            <p class="lead">
            	 Android App Developer having experience of almost 3 years in this field.I have strong command on Android platform. Worked on different kind of apps including health related apps,business apps, photo sharing apps,gym club apps,entertainment apps and complex inventory systems including QR and Bar Code scanning features
            </p>
            <h4> Tech Stack </h4>
            <ul>
				<li> Android app development.</li>
				<li> iPhone app development. </li>
				<li> Android Front end Development </li>
				<li> iPhone front end Development. </li>
				<li> Back End Development. </li>
				<li> Payment Gateway Integrations. </li>
				<li> Google maps integrations. </li>
				<li> Social Media integration. </li>
				<li> Synchronization within the app from live server </li>			
            </ul>
            
            <p> <strong> Email: </strong> <a href="mailto:hasae300@gmail.com">hasae300@gmail.com</a> </p>
            
            <p> <strong> Contact: </strong> (+92) 23354486556 </p>          
            
        </div>
        <div class="panel-footer">
            <p class="fa fa-facebook-square"> </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-twitter-square">  </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-linkedin-square">  </p>
            &nbsp;&nbsp;&nbsp;
            <p class="fa fa-github-square">  </p>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>

